@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-roboto);
}

body {
  background: #121212;
  font-family: var(--font-roboto);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-luckiest);
  line-height: 1.2;
  @apply text-white;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
p,
li {
  @apply text-gray;
  font-family: var(--font-roboto);
  font-size: 16px;
}
