@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: var(--font-roboto);
}

body {
  background: #121212;
}

h1,h2,h3,h4,h5,h6 {
	font-family: var(--font-luckiest);
	line-height: 1.2;
}
p, li, a {
	@apply text-gray;
	font-family: var(--font-roboto);
}